main.dashboard-admin-page {
   flex: 1;
   padding-top: 20px;
   padding-right: 20px;
   margin-left: 350px;

   h2 {
      font-size: 40px;
   }

   .liste-teams {
      ul {
         padding: 0;
         li {
            display: flex;
            background: $gray;
            justify-content: space-between;
            padding: 5px 20px;

            &.titles {
               background: $dark;
               border: 1px solid $gray;
            }

            p {
               width: 200px;
               a:not(:last-child) {
                  margin-right: 5px;
               }
            }
         }
      }
   }

   .edit-team {
      form {
         display: flex;
         flex-direction: column;

         margin-top: 50px;

         input {
            background: $gray;
            color: $white;
            border: none;
            padding: 10px 20px;
            margin-bottom: 20px;
            font-size: 30px;
         }
      }
   }

   .show-user {
      display: flex;
      flex-direction: column;
      margin-top: 50px;

      p {
         font-size: 30px;
         margin-bottom: 20px;
      }
   }
}
